
.element {
    background-color: red;
    
    width: 100px;
    height: 100px;
    padding: 5px;
    animation: move 2s ease-in-out forwards;
    position: relative;
    left: 50%;
} 
@keyframes move {
    0% {
transform: translateX(0);
    }
    50% {
transform: translateX(-100px) ;
}
    100% {
        transform: translateX(100px) ;
       
    }
}